<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <arg name="configuration" default="default.yaml" /> -->
    <!-- <arg name="configuration" default="roller_probe_50_MHz.yaml" /> -->
    <arg name="configuration" default="roller_probe_100_MHz.yaml" />
    <!-- <arg name="configuration" default="beccas.yaml" /> -->

    <!-- <arg name="mps_file" default="composite_roller_probe/roller_probe_wing_cover_50_MHz.mps" /> -->
    <arg name="mps_file" default="composite_roller_probe/roller_probe_wing_cover_100_MHz.mps" />
    <!-- <arg name="mps_file" default="beccas.mps" /> -->

    <arg name="export_pcd" default="false" />
    <arg name="logging" default="false" />
    <arg name="rosbag_name" default="peak_recording" />

    <arg name="rviz" default="true" />


    <group>
        <push_ros_namespace namespace="peak"/>

        <node pkg="peak_ros" exec="peak_node" name="peak_node" output="screen">
            <param name="mps_file" value="$(var mps_file)" />
            <param from="$(find-pkg-share peak_ros)/config/$(var configuration)" />
        </node>

       <node pkg="pcl_ros" exec="filter_voxel_grid_node" name="voxel_grid" output="screen">
            <remap from="input" to="gated_b_scan" />
            <remap from="output" to="voxelised_gated_b_scan" />
            <param name="filter_field_name" value="z"/>
            <param name="filter_limit_min" value="0.0001"/>
            <param name="filter_limit_max" value="0.05"/>
            <param name="filter_limit_negative" value="False"/>
            <param name="leaf_size" value="0.0001"/>
            <param name="min_points_per_voxel" value="1"/>
        </node>

        <node pkg="peak_ros" exec="reconstruction_node" name="reconstruction_node" output="screen">
            <remap from="input" to="voxelised_gated_b_scan" />
            <remap from="output" to="detections" />
            <param from="$(find-pkg-share peak_ros)/config/$(var configuration)" />
        </node>

        <!-- PCD Exporter -->
        <node pkg="pcl_ros" exec="pointcloud_to_pcd" name="peak_pointcloud_to_pcd" if="$(var export_pcd)">
          <remap from="input" to="/peak/detections" />
          <param name="prefix" value="$(find-pkg-share peak_ros)/bags/" />
        </node>

        <!-- Logging -->
        <executable cmd="ros2 bag record --repeat-latched -b 1024 -o $(find-pkg-share peak_ros)/bags/$(var rosbag_name) /tf /peak/a_scans /peak/b_scan /peak/gated_b_scan /peak/detections /iiwa/state/CartesianWrench" if="$(var logging)" output="screen"/>
        
    </group>


    <!-- Rviz -->
    <node pkg="rviz2" exec="rviz2" name="rviz_peak" args="-d $(find-pkg-share peak_ros)/config/bscan.rviz" if="$(var rviz)" />

</launch>